body {
    background-color: #FFD700; /* Amarillo */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header, .footer {
    background-color: #FFFFFF; /* Blanco */
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    z-index: 1;
}

.header {
    top: 0;
}

.footer {
    bottom: 0;
}

.content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #FFD700; /* Amarillo */
    margin-top: 60px; /* Altura del header */
    margin-bottom: 60px; /* Altura del footer */
}

.button {
    background-color: #00BFFF; /* Azul Celeste */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #009ACD; /* Azul más oscuro al pasar el ratón */
}

.modal-content {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: center;
}

.modal-content label {
    display: block;
    margin: 10px 0 5px;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
